<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="#{page.champs}">추천 챔피언 목록</h2>
    </div>

    <form th:object="${cond}" method="get" class="form-inline">
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{redChampName1}" class="form-control" placeholder="적군 1"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{redChampName2}" class="form-control" placeholder="적군 2"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{redChampName3}" class="form-control" placeholder="적군 3"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{redChampName4}" class="form-control" placeholder="적군 4"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{redChampName5}" class="form-control" placeholder="적군 5"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{blueChampName1}" class="form-control" placeholder="아군 1"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{blueChampName2}" class="form-control" placeholder="아군 2"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{blueChampName3}" class="form-control" placeholder="아군 3"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{blueChampName4}" class="form-control" placeholder="아군 4"/>
            </div>
            <div class="col">
            </div>
        </div>
        <hr class="my-2">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary"
                        onclick="location.href='addCounter.html'"
                        th:onclick="|location.href='@{/champs/add}'|"
                        type="button">카운터 등록
                </button>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <input type="text" th:field="*{champLine}" class="form-control float-end" placeholder="내 포지션"/>
                <button type="submit" class="btn btn-secondary mb-2 float-end">검색</button>
            </div>
        </div>
    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.champ.champName}">추천 챔피언</th>
                <th th:text="#{label.champ.champLine}">역할군</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="champ : ${champs}">
                <td th:text="${champ.champName}">베인</td>
                <td th:text="${champ.champLine}">원딜</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>