<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <div th:replace="fragment/header :: copy"></div>
        <hr class="my-4">
        <h2 th:text="#{page.champs}">추천 챔피언 목록</h2>
    </div>

    <form th:object="${cond}" method="get" class="form-inline">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:text="${#fields.globalErrors().get(0)}">글로벌 오류 메시지</p>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" th:field="*{redChampName1}" class="form-control" placeholder="적군 1"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{redChampName2}" class="form-control" placeholder="적군 2"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{redChampName3}" class="form-control" placeholder="적군 3"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{redChampName4}" class="form-control" placeholder="적군 4"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{redChampName5}" class="form-control" placeholder="적군 5"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{blueChampName1}" class="form-control" placeholder="아군 1"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{blueChampName2}" class="form-control" placeholder="아군 2"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{blueChampName3}" class="form-control" placeholder="아군 3"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{blueChampName4}" class="form-control" placeholder="아군 4"/>
            </div>
            <div class="col">
            </div>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <td th:text="${cond.winRate1}" width="20%"></td>
                <td th:text="${cond.winRate2}" width="20%"></td>
                <td th:text="${cond.winRate3}" width="20%"></td>
                <td th:text="${cond.winRate4}" width="20%"></td>
                <td width="20%"></td>
            </tr>
            </tbody>
        </table>

<!--
        <div class="row">
            <div th:if="${cond.winRate1}" class="col">
                <p th:text="${cond.winRate1}"></p>
            </div>
            <div th:if="${cond.winRate2}" class="col">
                <p th:text="${cond.winRate2}"></p>
            </div>
            <div th:if="${cond.winRate3}" class="col">
                <p th:text="${cond.winRate3}"></p>
            </div>
            <div th:if="${cond.winRate4}" class="col">
                <p th:text="${cond.winRate4}"></p>
            </div>
            <div th:if="${cond.winRate5}" class="col">
                <p th:text="${cond.winRate5}"></p>
            </div>
        </div>
-->
        <p style=“text-align: right;>* 같은 줄에 상대팀과 우리팀을 입력하면 승률이 표시됩니다.</p>
        <hr class="my-2">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary"
                        onclick="location.href='addCounter.html'"
                        th:onclick="|location.href='@{/champs/add}'|"
                        type="button">카운터 등록
                </button>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <input type="text" th:field="*{champLine}" class="form-control float-end" placeholder="내 포지션"/>
                <button type="submit" class="btn btn-secondary mb-2 float-end">검색</button>
            </div>
        </div>
    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.champ.champName}">추천 챔피언</th>
                <th th:text="#{label.champ.champLine}">역할군</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="champ : ${champs}">
                <td th:text="${champ.champName}">베인</td>
                <td th:text="${champ.champLine}">원딜</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>