<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jung.jwgg.repository.champ.mybatis.ChampMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="champId">
        insert into CHAMP (champ_name,champ_line)
        values (#{champName}, #{champLine})
    </insert>
    <insert id="counterSave">
        insert into counter (login_id,id, cid)
        values (#{loginId},#{id}, #{cid});
    </insert>

    <delete id="deleteCounter">
        delete from counter
        WHERE id = #{id} AND cid = #{cid} AND LOGIN_ID = #{loginId}
    </delete>
    <select id="dedupe" resultType="Int">
        SELECT COUNT(*)
        FROM counter
        WHERE id = #{id} AND cid = #{cid} AND LOGIN_ID = #{loginId}
    </select>

    <select id="countedChamp" resultType="AddCounterFormV2">
        SELECT B.CHAMP_NAME AS "registerChampName",C.CHAMP_NAME AS "counter"
        FROM counter A
        left join champ B on B.champ_id = A.id
        left join champ C on A.cid = c.champ_id
        <where>
            A.LOGIN_ID = #{loginId}
            <if test="SearchWord != null and SearchWord !=''">
                and B.CHAMP_NAME like concat('%', #{SearchWord},'%')
            </if>
        </where>
    </select>

    <select id="recommendChamp" resultType="Champ">
        SELECT distinct champ_id, champ_name,champ_line
        FROM CHAMP
        <where>
            <if test="redChampName1 != null and redChampName1 !=''">
                and champ_id not in (select id from counter where cid=#{redChampId1} and login_id=#{loginId}) and champ.champ_name!=#{redChampName1}
            </if>
            <if test="redChampName2 != null and redChampName2 !=''">
                and champ_id not in (select id from counter where cid=#{redChampId2} and login_id=#{loginId}) and champ.champ_name!=#{redChampName2}
            </if>
            <if test="redChampName3 != null and redChampName3 !=''">
                and champ_id not in (select id from counter where cid=#{redChampId3} and login_id=#{loginId}) and champ.champ_name!=#{redChampName3}
            </if>
            <if test="redChampName4 != null and redChampName4 !=''">
                and champ_id not in (select id from counter where cid=#{redChampId4} and login_id=#{loginId}) and champ.champ_name!=#{redChampName4}
            </if>
            <if test="redChampName5 != null and redChampName5 !=''">
                and champ_id not in (select id from counter where cid=#{redChampId5} and login_id=#{loginId}) and champ.champ_name!=#{redChampName5}
            </if>
            <if test="champLine != null and champLine !=''">
                and champ.champ_line = #{champLine}
            </if>
        </where>
    </select>



<!--
    <select id="recommendChamp" resultType="Champ">
        SELECT champ_id, champ_name,champ_line
        FROM CHAMP
        left join counter on champ.champ_id = counter.id
        <where>
            <foreach item="id" index="index" collection="redTeam" open="and (" separator="," close=")">
                (counter.cid is null or counter.cid!=#{id}) and champ.champ_id!=#{id}
            </foreach>
            <if test="champLine != null and champLine !=''">
                and champ.champ_line = #{champLine}
            </if>
        </where>
    </select>
-->

    <select id="findChamp" resultType="Champ">
        SELECT champ_id, champ_name,champ_line
        FROM CHAMP
        where champ_name=#{champName}
    </select>

</mapper>
